<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TankoMarks</title>
	<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
	<link rel="icon" href="../static/images/logo.ico" th:href="@{/images/logo.ico}"/>
	<link href="../static/styles/style.css" th:href="@{/styles/style.css}" rel="stylesheet"/>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script defer type="text/javascript" src="../static/js/nav.js" th:src="@{/js/nav.js}"></script>
	<script defer type="text/javascript" src="../static/js/validaciones.js" th:src="@{/js/validaciones.js}"></script>
	<script defer type="text/javascript" src="../static/js/script.js" th:src="@{/js/script.js}"></script>
</head>

<body>

	<div class="container">

		<nav>
			<img class="imagen-nav" src="../static/images/logo.png" th:src="@{/images/logo.png}" alt="Logo de Tankomarks">
			
			<a class="link-nav" th:href="@{/}">Inicio</a>
			<a class="link-nav" th:href="@{/favoritos}">Favoritos</a>
			
			<form class="busqueda-form" th:action="@{/}" method="get">
				<select class="desplegable-nav" name="demografia">
					<option value="0" selected>Todos</option>
					<option value="1">Seinen</option>
					<option value="2">Shonen</option>
					<option value="3">Shojo</option>
					<option value="4">Josei</option>
				</select>
				<input class="busqueda" type="text" name="busqueda" placeholder="Buscar..."> 
				<button class="busqueda-submit" type="submit"> <i class="lupa fa-solid fa-magnifying-glass"></i> </button>
			</form>

			<a class="user-nav" th:href="@{/perfil}">
				<i class="fa-solid fa-circle-user"></i>
			</a>
			<a class="logout-nav" th:href="@{/logout}">
				<i class="fa-solid fa-arrow-right-from-bracket"></i>
			</a>

			<div class="toggle">
				<i class="fa-solid fa-bars"></i>
			</div>
		</nav>
		
		<th:block th:if="${size > 0}">

			<div class="total-busqueda">

				<th:block th:each="manga : ${mangas}">

					<a class="busqueda-imagen enlace-busqueda" th:href="@{/detalles/} + ${manga.id_manga}">
						<img class="cuerpo-imagen" th:src="${manga.enlacefoto}" alt="Portada del manga"/>
						<h2 class="nombre-busqueda" th:text="${manga.nombre}"></h2>
					</a>

				</th:block>

			</div>

		</th:block>

		<div class="msg-busqueda" th:if="${size == 0}">
			<h1>No se encontraron mangas.</h1>
		</div>

		<footer>
			<div class="copy-footer">
				Copyright &copy; TankoMarks 2023
			</div>

			<div class="contact-footer">
				<a class="icon-footer" href="mailto:juanan0012@gmail.com"><i class="fa-regular fa-envelope"></i></a>
				<a class="icon-footer" href="#"><i class="fa-brands fa-twitter"></i></a>
				<a class="icon-footer" href="#"><i class="fa-brands fa-facebook"></i></a>
				<a class="icon-footer" href="#"><i class="fa-brands fa-instagram"></i></a>
			</div>
		</footer>

	</div>

</body>
</html>
