<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:fragment="head">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TankoMarks</title>
	<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
	<link rel="icon" href="../static/images/logo.ico" th:href="@{/images/logo.ico}"/>
	<link href="../static/styles/style.css" th:href="@{/styles/style.css}" rel="stylesheet"/>
	<script defer type="text/javascript" src="../static/js/nav.js" th:src="@{/js/nav.js}"></script>
	<script defer type="text/javascript" src="../static/js/validaciones.js" th:src="@{/js/validaciones.js}"></script>
</head>

<body>

	<nav>

		<img class="imagen-nav" src="../static/images/logo.png" th:src="@{/images/logo.png}" alt="Logo de Tankomarks">
		
		<a class="link-nav" th:href="@{/}">Inicio</a>
		<a class="link-nav" th:href="@{/favoritos}">Favoritos</a>
		
		<form class="busqueda-form" th:action="@{/}" method="get">
			<input class="busqueda" type="text" name="busqueda" placeholder="Buscar..."> 
			<button class="busqueda-submit" type="submit"> <i class="lupa fa-solid fa-magnifying-glass"></i> </button>
		</form>

		<a class="user-nav" th:href="@{/perfil}">
			<i class="fa-solid fa-circle-user"></i>
		</a>
		<a class="logout-nav" th:href="@{/logout}">
			<i class="fa-solid fa-arrow-right-from-bracket"></i>
		</a>

		<div class="toggle">
			<i class="fa-solid fa-bars"></i>
		</div>

	</nav>

	<p sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Cerrar sesión.</a></p>

	<p sec:authentication="principal.username"></p>

	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>
	a <br>

</body>
</html>
