<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- <head th:replace="index :: head"></head> -->

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TankoMarks</title>
	<link href="../static/styles/style.css" th:href="@{/styles/style.css}" rel="stylesheet"/>
</head>

<body>

	<div class="container">

		<img class="imagen-form" src="../static/images/logo.png" th:src="@{/images/logo.png}" alt="Logo de Tankomarks"> 

			<div class="formulario">

				<form th:action="@{/login}" method="post">

					<h2>Inicia sesión en TankoMarks</h2>
					
					<!-- error message -->
					<div th:if="${param.error}">
						<div class="msg msg-error">Contraseña o usuario incorrectos.</div>
					</div>
				
					<!-- logout message -->
					<div th:if="${param.logout}">
						<div class="msg msg-info">Has cerrado sesión correctamente.</div>
					</div>
					
					<div class="campo-form">
						<label class="label-form" for="username"> Correo electrónico </label>
						<input class="input-form" type="text" id ="username" name="username" required/>
					</div>
					
					<div class="campo-form">
						<label class="label-form" for="password"> Contraseña </label>
						<input class="input-form" type="password" id="password" name="password" required/>
					</div>
					
					<div>
						<input class="boton-form" type="submit" name="login-submit" id="login-submit" value="Iniciar Sesión"/>
					</div>
						
				</form>

				<div class="span-form">
					<span>¿Nuevo usuario? <a class="enlace-form" th:href="@{/registro}">Crear cuenta</a></span>
				</div>

			</div>

	</div>

</body>
</html>